[submodule "extern/kimodo"]
	path = extern/kimodo
	url = https://github.com/nv-tlabs/kimodo.git
	shallow = true
	ignore = untracked
[submodule "extern/kimodo-viser"]
	path = extern/kimodo-viser
	url = https://github.com/nv-tlabs/kimodo-viser.git
	shallow = true
[submodule "extern/spider"]
	path = extern/spider
	url = https://github.com/facebookresearch/spider.git
	shallow = true
